In [4]:
import numpy as np
import pandas as pd

In [5]:
labels = ['a','b','c']
my_data =(10,20,30)
arr = np.array(my_data)

In [6]:
arr

array([10, 20, 30])

In [7]:
d ={'a':10,'b':20,'c':30}

In [8]:
pd.Series(data=arr,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
d

{'a': 10, 'b': 20, 'c': 30}

In [10]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [11]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [12]:
ser1= pd.Series([1,2,3,5],['USA','Germany','Italy','Japan'])

In [13]:
ser1

USA        1
Germany    2
Italy      3
Japan      5
dtype: int64

In [14]:
ser3 = pd.Series(data=labels)

In [15]:
ser3 + ser1

0          NaN
1          NaN
2          NaN
Germany    NaN
Italy      NaN
Japan      NaN
USA        NaN
dtype: object

In [17]:
ser1 + ser3 +ser1

0          NaN
1          NaN
2          NaN
Germany    NaN
Italy      NaN
Japan      NaN
USA        NaN
dtype: object